**/__pycache__/*
*.py[cod]
.venv/
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
test-results.xml
coverage.xml
config.ini
.fronius-marstek-last-power
.marstek-direct-ip
fronius-marstek-direct.log*
.DS_Store
